.whatsapp_float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp-icon {
    margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
    .whatsapp-icon {
        margin-top: 10px;
    }

    .whatsapp_float {
        width: 40px;
        height: 40px;
        bottom: 20px;
        right: 10px;
        font-size: 22px;
    }
}
.contactMe{
    color:#FFFFFF;
    background-color: #25d366;
    font-weight: 600;
}
.submit{
    background-color: #25d366;
    color: #FFFFFF;
    font-weight:600;
    border: none;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    font-size: 14px;
}
.cancel{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid #25d366;
    border-radius: 8px;
    height: 35px;
    width: 100px;
    font-weight:600;
    font-size: 14px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.errorTextColor{
    color: red;
}